# Jupyter Markdown

## Jupyter Markdown

### Jupyter Markdown

#### Jupyter Markdown

- point 1
  - **sub point 1.1**
  - ***sub point 1.2***
  - *sub point 1.3*
- point 2
- point 3

### Python Introduction
- python 3
- python can be used as functional programming
- python can be used as scripting programming
- python is intially designed by **Guido Van Rossum** in 1991

In [2]:
# input and output functions
# output function
print("hello world")
print("welcome to python programing")

hello world
welcome to python programing

In [4]:
print("markdown cell",end='')
print("code cell")

markdown cellcode cell

In [5]:
# input function
print("enter your name : ")
a = input(' ')
print('your name is ',a)

enter your name :
 prathyu
your name is  prathyu

### inserting an image using markdown
![image]()

## inserting a site using markdown
[site](https://www.google.com/search?q=sunset+image&tbm=isch&ved=2ahUKEwjLq7az67HmAhWxB7cAHSEzBboQ2-cCegQIABAA&oq=sunset+image&gs_l=img.3..0l10.66994.68550..69305...0.0..1.479.1427.0j5j1j0j1......0....1..gws-wiz-img.......0i7i30j0i10.ya62yt8EnSc&ei=dBrzXcuhJLGP3LUPoeaU0As&bih=625&biw=1366&rlz=1C1CHBF_enIN858IN858)

# fundamental data types
1. int
2. float
3. complex
4. boolean
5. string

In [6]:
#basic example
x = 10
print(type(x))
print(x)

<class 'int'>
10

In [7]:
a = complex(5,4)
print(a)

(5+4j)

In [9]:
x = 3+5j
y = 10.25
z = 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [10]:
c1 = 5+6j
c2 = 4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [11]:
a= 10 #boolean
b = 60
a > b

False

In [12]:
#string
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [14]:
s1 = "100"
print(type(s1))

<class 'str'>

## datatype conversions

In [15]:
i = 100
print(type(i))
s1 = str(i) #str() converts the input into string type
print(type(s1))
f1 = float(i) #float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [16]:
 s1 = "200"
print(type(s1))
b= int(s1)
print(type(b))
f= 2.5
a= int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [17]:
# a number is given 23456
# digit count
s = 23456
print(len(str(s)))

5

# operators
## 1. arithematic operators----->+,-,*,/,//,%,**
## 2. logical operators--->and,or,not
## 3. relational operators---> <,>,<=,>=,==,!=
## 4. membership operators---> in,not in

In [18]:
#arithematic operators
a = 45
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

65
25
900
2.25
2
5
1159445329576199417209625244140625

In [19]:
# relational operators
x = 30
y = 10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [20]:
#logical operators
print(x>=10 and x<=30)
print(x>=5 or x<=20)
print(not x)

True
True
False

In [21]:
# membership operators
str1 = "abc"
print('a' in str1)
print('b'not in str1)

True
False

# conditional statement
- 1.if
- 2.else
- 3.elif
# syntax
- if condition:
# statements
- elif condition:
# statements
- else:
# statements

In [23]:
#to check given no is even or odd
n = int(input("enter the number:"))
if n%2==0:
    print("even")
else:
        print("odd")

enter the number:24
even

In [25]:
# to check given number is perfectly multiple of 3 and 5
n = int(input("enter the number:"))
if (n%3==0 and n%5==0):
    print("yes")
else:
    print("no")

enter the number:15
yes

In [2]:
#check the given number is positive,negative or zero
n = int(input("enter the number:"))
if n>0:
    print("positive number")
elif n<0:
    print("negative number")
elif n==0:
    print("zero")

enter the number:4
positive number

In [5]:
#check the input is leap year or not
year = int(input("enter the number:"))
if year%4==0:
    print("leap year")
else:
    print("not a leap year")

enter the number:2019
not a leap year

In [6]:
#is a person elligible for vote or not
age =  int(input("enter the age:"))
if age<18:
    print("not elligible")
else:
    print("elligible")

enter the age:34
elligible